.CardForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.CardForm input, .CardForm select {
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 4px;
}